<section class="section">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <h3>Articles</h3>
          <div class="card-title-block">
            <div class="pull-right">
              <a class="btn btn-success btn-sm" id="new_article" href="$( to_link(:admin_article_new) )">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                New
              </a>
            </div>
          </div>
          <section class="example">
            <table class="table table-hover" id="articles_list">
              <tbody>
                <% for a in articles :>
                <tr>
                  <td scope="row" style="width: 80%">
                    $(a.title)
                    <div class="admin-article-summary">
                      $(a.summary)
                    </div>
                    <div>
                      <span class="label label-$(article_status_label(App.Articles.status(a)))">
                        <$ ( App.Articles.is_published(a) ? "Published at $( Dates.format(_!!(a.published_at), "e, dd u yyyy HH:MM"))" : "Draft" ) $>
                      </span>
                    </div>
                  </td>
                  <td class="actions-cell text-right pull-right">
                    <a href="$( to_link(:admin_article_edit, article_id = _!!(a.id) ) )" class="btn btn-primary btn-sm">Edit</a>
                    <$ App.Articles.is_published(a) ? "" : """<a href="$( to_link(:admin_article_publish, article_id = _!!(a.id) ) )" class="btn btn-success btn-sm">Publish</a>""" $>
                    <a href="$( to_link(:admin_article_preview, article_id = _!!(a.id) ) )" target="_blank" class="btn btn-info btn-sm">Preview</a>
                  </td>
                </tr>
                <: end %>
               </tbody>
             </table>
           </section>
           <section>
            $( pagination_navigation(params) )
           </section>
         </div>
       </div>
     </div>
   </div>
 </section>