<section class="section">
  <div class="row sameheight-container">
    <div class="col-md-12">
      <div class="card card-block sameheight-item" style="height: 721px;">
        <form role="form" method="POST" action="$( SearchLight.is_persisted(article) ? Router.to_link(:admin_article_update, article_id = _!!(article.id) ) : Router.to_link(:admin_article_create ) )">
          %= output_flash(params)
          %= output_errors(article, :unknown)
          <div class="form-group">
            <label class="control-label">Title</label>
            <input type="text" class="form-control underlined" value="$(article.title)" name="article.title">
            %= output_errors(article, :title)
          </div>
          <div class="form-group">
            <label class="control-label">Slug</label>
            <input type="text" class="form-control underlined" value="$(article.slug)" name="article.slug">
            %= output_errors(article, :slug)
          </div>
          <div class="form-group">
            <label class="control-label">Summary</label>
            <textarea rows="3" class="form-control underlined" name="article.summary">$(article.summary)</textarea>
            %= output_errors(article, :summary)
          </div>
          <div class="form-group">
            <label class="control-label">Content</label>
            <div id="article_editormd">
              <textarea rows="3" class="form-control underlined" name="article.content">$(article.content)</textarea>
            </div>
            %= output_errors(article, :content)
          </div>
          <div class="form-group">
            <label class="control-label">Is published</label>
            <input type="checkbox" class="form-control underlined" value="1" name="article.is_published" $(input_checked(article)) />
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn btn-primary" href="$( Router.to_link(:admin_article_list) )">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>

  <link rel="stylesheet" href="/css/admin/editormd_style.css" />
  <link rel="stylesheet" href="/css/admin/editormd.css" />
  <script src="/js/admin/jquery.min.js"></script>
  <script src="/js/admin/editormd.js"></script>
  <script src="/vendor/editormd/languages/en.js"></script>
  <script src="/js/admin/editormd_integration.js"></script>

</section>
