<section class="section">
  <div class="row sameheight-container">
    <div class="col-md-12">
      <div class="card card-block sameheight-item" style="height: 721px;">
        <div class="title-block">
          <h3 class="title">
            Editing $(article.title)
          </h3>
        </div>
        <form role="form" method="POST" action="/admin/articles/$(article.id |> _!!)">
          <div class="form-group">
            <label class="control-label">Title</label>
            <input type="text" class="form-control underlined" value="$(article.title)" name="article.title">
          </div>
          <div class="form-group">
            <label class="control-label">Summary</label>
            <textarea rows="3" class="form-control underlined" name="article.summary">$(article.summary)</textarea>
          </div>
          <div class="form-group">
            <label class="control-label">Content</label>
            <textarea rows="3" class="form-control underlined" name="article.content">$(article.content)</textarea>
          </div>
          <div class="form-group"> <button type="submit" class="btn btn-primary">Save</button> </div>
        </form>
      </div>
    </div>
  </div>
</section>