<section class="section">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <div class="card-title-block">
            <h3 class="title">
              Articles
            </h3>
          </div>
          <section class="example">
            <table class="table table-hover" id="articles_list">
              <thead>
                <tr>
                  <th style="width: 60%;">Title</th>
                  <th>Status</th>
                  <th>Updated at</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <% for a in articles :>
                <tr>
                  <td scope="row">
                    $(a.title)
                    <p class="admin-article-summary">
                      $(a.summary)
                    </p>
                  </td>
                  <td><$ Articles.is_removed(a) ? "Removed at $(a.removed_at |> _!!)" : ( Articles.is_published(a) ? "Published at $(a.published_at |> _!!)" : "Not published" ) $></td>
                  <td><$ Dates.format(a.updated_at, "e, dd u yyyy HH:MM") $></td>
                  <td><a href="/admin/articles/$(a.id |> _!!)">Edit</a>
                   | Publish | Preview</td>
                 </tr>
                 <: end %>
               </tbody>
             </table>
           </section>
         </div>
       </div>
     </div>
   </div>
 </section>