<footer class="single without-readmore">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-2">
        <img src="/img/theme/profile-1.jpg" class="user-icon " alt="user-image">
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="category-list">
          <p>Published <span>14th May 2015</span></p>
          <p><a href="#">James Reddy</a> in <a href="#">Storytime</a></p>
          <div class="other-catergories">
            <h3>Also found in</h3>
            <ul>
              <li><a href="#">Stories</a>,</li>
              <li><a href="#">Life</a>,</li>
              <li><a href="#">Adventures</a></li>
            </ul>
          </div>
        </div>
      </div><!-- end col -->
      <div class="col-xs-12 col-sm-4">
        <div class="social">
          <p>Share this article</a>
            <div class="social-links">
              <a class="social-icon" href="#" data-platform="twitter" data-message="Message about this post" data-url="http://writertheme.com/post"><i class="fa fa-twitter"></i></a>
              <a class="social-icon" href="#" data-platform="facebook" data-message="Message about this post" data-url="http://writertheme.com/post"><i class="fa fa-facebook-official"></i></a>
              <a class="social-icon" data-platform="mail"  href="mailto:support@writertheme.com"><i class="fa fa-envelope"></i></a>
            </div>
          </div>
        </div>
      </div><!-- end row -->
    </div>
  </footer>