<div class="col-xs-12 col-md-3 col-md-offset-1 single-content-sidebar-area">

  <img src="/img/theme/profile-1.jpg" class="user-icon " alt="user-image">
  <div class="meta">
    <div class="sidebar-info">
      <a href="category.html">James Reddy</a> in <a href="category.html">Storytime</a>
    </div>
    <div class="sidebar-readtime">
      <i class="fa fa-bookmark"></i> 23 minute read
    </div>
  </div>

  <h2 class="favorites">Similar Categories</h2>

  <a href="category.html" >
    <div class="similar-cat">
      <img src="/img/theme/similar-cat-1.jpg">
      <h3>Storytime</h3>
    </div>
  </a>

  <a href="category.html" >
    <div class="similar-cat">
      <img src="/img/theme/similar-cat-2.jpg">
      <h3>Nature</h3>
    </div>
  </a>

  <a href="category.html" >
    <div class="similar-cat">
      <img src="/img/theme/similar-cat-3.jpg">
      <h3>Travel</h3>
    </div>
  </a>

  <h2 class="favorites">Similar Posts</h2>

  <div class="similar-post">
    <a href="post.html"><h3>Leave the City for a Life on the Road</h3></a>
  </div>

  <div class="similar-post">
    <a href="post.html"><h3>The Best Story Never Told</h3></a>
  </div>

  <div class="similar-post">
    <a href="post.html"><h3>Stop Thinking and Start Doing</h3></a>
  </div>

  <div class="similar-post">
    <a href="post.html"><h3>You Don't Have To Be Great To Get Started</h3></a>
  </div>

</div>