<h2 style="background-color: #0bb8e3; font-family: Source Sans Pro, Helvetica, Arial, sans-serif; color: #f0f0f0; border-top: 1rem solid #e0e0e0;
            text-transform: uppercase; letter-spacing: 2px; text-align: center; font-size: 2rem; padding: 1em; margin-top: 0; font-weight: 100; ">
  High performance + high productivity Julia web framework
</h2>
<p class="lead" style="text-align: center; padding-bottom: 1em; margin-top: 4rem;">
  <a href="" class="btn btn-primary btn-lg" onclick="">
    <i class="fa fa-download"></i>&nbsp;
    Download Genie</a>
  <a href="" class="btn btn-primary btn-lg" onclick="">
  <i class="fa fa-github"></i>&nbsp;
    Github</a>
</p>