<div class="row post-preview col-xs-12" style="margin-bottom: 5rem; ">
  <h2 style="font-family: Source Sans Pro, Helvetica, Arial, sans-serif; margin-bottom: 1em;
            font-size: 3.2rem; font-weight: 500; text-transform: uppercase; letter-spacing: 2px;">
      Productivity of Rails. At the speed of C.
  </h2>
  <p style="font-size: 1.7rem;">
    Genie is a full stack web framework that empowers developers to build fast, scalable, feature rich web applications in a highy productive way.
    <br/><br/>
    Building on top of Julia -- a new easy to learn, blazing fast programming language developed at MIT --
    Genie provides a unique combination of features and a complete toolset that can be used throughout the full software stack.
    <br/><br/>
    Genie enables developers to use a single programming language to write DRY reusable code, from web apps, to REST APIs, to Data Science and AI powered real time analytics, to command line scripts. From MVP to millions of users.
  </p>
  <a href="#" style="text-transform: uppercase; letter-spacing: 2px; font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
                      font-size: 14px; font-size: 1.4rem; line-height: 30px;">
    Read more</a>
</div>

<div class="row post-preview col-xs-12 no-gutter" style="margin-bottom: 5rem; ">
  <div class="col-md-4 category-list">
    <h3 style="font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
              font-size: 2rem; font-weight: 600; text-transform: uppercase">
      <i class="fa fa-bolt" aria-hidden="true"></i>&nbsp;
      Blazing speed
    </h3>
    <p style="font-size: 1.7rem;">
      Phoenix leverages the Erlang VM ability to handle millions of connections alongside Elixir's beautiful syntax and productive tooling for building fault-tolerant systems.
    </p>
    <a href="#" style="text-transform: uppercase; letter-spacing: 2px; font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
                        font-size: 14px; font-size: 1.4rem; line-height: 30px;">
      Read more</a>
  </div>

  <div class="col-md-4">
    <h3 style="font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
              font-size: 2rem; font-weight: 600; text-transform: uppercase">
      <i class="fa fa-check-square" aria-hidden="true"></i>&nbsp;
      High productivity
    </h3>
    <p style="font-size: 1.7rem;">
      Phoenix leverages the Erlang VM ability to handle millions of connections alongside Elixir's beautiful syntax and productive tooling for building fault-tolerant systems.
    </p>
    <a href="#" style="text-transform: uppercase; letter-spacing: 2px; font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
                        font-size: 14px; font-size: 1.4rem; line-height: 30px;">
      Read more</a>
  </div>

  <div class="col-md-4">
    <h3 style="font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
              font-size: 2rem; font-weight: 600; text-transform: uppercase">
      <i class="fa fa-braille" aria-hidden="true"></i>&nbsp;
      Parallel execution
    </h3>
    <p style="font-size: 1.7rem;">
      Phoenix leverages the Erlang VM ability to handle millions of connections alongside Elixir's beautiful syntax and productive tooling for building fault-tolerant systems.
    </p>
    <a href="#" style="text-transform: uppercase; letter-spacing: 2px; font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
                        font-size: 14px; font-size: 1.4rem; line-height: 30px;">
      Read more</a>
  </div>
</div>

<div class="row post-preview col-xs-12 no-gutter">
  <div class="col-md-4 category-list">
    <h3 style="font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
              font-size: 2rem; font-weight: 600; text-transform: uppercase">
      <i class="fa fa-database" aria-hidden="true"></i>&nbsp;
      Powerful ORM
    </h3>
    <p style="font-size: 1.7rem;">
      Phoenix leverages the Erlang VM ability to handle millions of connections alongside Elixir's beautiful syntax and productive tooling for building fault-tolerant systems.
    </p>
    <a href="#" style="text-transform: uppercase; letter-spacing: 2px; font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
                        font-size: 14px; font-size: 1.4rem; line-height: 30px;">
      Read more</a>
  </div>

  <div class="col-md-4">
    <h3 style="font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
              font-size: 2rem; font-weight: 600; text-transform: uppercase">
      <i class="fa fa-terminal" aria-hidden="true"></i>&nbsp;
      Flexible REPL
    </h3>
    <p style="font-size: 1.7rem;">
      Phoenix leverages the Erlang VM ability to handle millions of connections alongside Elixir's beautiful syntax and productive tooling for building fault-tolerant systems.
    </p>
    <a href="#" style="text-transform: uppercase; letter-spacing: 2px; font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
                        font-size: 14px; font-size: 1.4rem; line-height: 30px;">
      Read more</a>
  </div>

  <div class="col-md-4">
    <h3 style="font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
              font-size: 2rem; font-weight: 600; text-transform: uppercase">
      <i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;
      Data Science ready
    </h3>
    <p style="font-size: 1.7rem;">
      Phoenix leverages the Erlang VM ability to handle millions of connections alongside Elixir's beautiful syntax and productive tooling for building fault-tolerant systems.
    </p>
    <a href="#" style="text-transform: uppercase; letter-spacing: 2px; font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
                        font-size: 14px; font-size: 1.4rem; line-height: 30px;">
      Read more</a>
  </div>
</div>