<div id="menu-target" style="background-image: url(/img/text-logo-light.png); background-repeat: no-repeat; background-position: center bottom;">
  <ul>
    <li><i class="fa fa-home"></i><a href="$(Router.to_link(:home))">Home</a></li>
    <li><i class="fa fa-map-signs"></i><a href="/guides">Guides</a></li>
    <li><i class="fa fa-book"></i><a href="/docs">Docs</a></li>
    <li><i class="fa fa-pencil"></i><a href="/blog">Blog</a></li>
    <li><i class="fa fa-paper-plane"></i><a href="/contact">Contact</a></li>
  </ul>
  <hr>
  <ul>
    <li><i class="fa fa-github"></i><a href="">Github</a></li>
  </ul>
</div>
