<section class="sidebar col-md-5 col-sm-12" style="background-image: url(/img/theme/default-sidebar.jpg)">
  %+ app/layouts/front/burger_menu
  <div class="site-info">
    <div class="primary-info">
      <h1>Writer</h1>
      <p>A minimal blogging theme to put your content on show. <a href="post.html">Look at the features.</a> </p>
      <p>Content is king</p>
    </div>
    <div class="secondary-info">
      <p>
        <a class="btn btn-primary" href="#"><i class="fa fa-user-plus"></i>Join Our Newsletter</a>
      </p>
    </div>
  </div>
</section>