#articles_list .admin-article-summary {
  font-size: 12px;
  padding-top: 4px;
}

#articles_list .admin-article-date {
  font-size: 12px;
}

.genie-validation-error {
  color: #ff0000;
  font-size: 12px;
}

td.actions-cell {
  padding-left: 2%;
}

.header {
  z-index: 10;
}

.page-title {
  padding-right: 12px;
}

.app .content {
  padding-bottom: 50px;
}