<!DOCTYPE html>
<html class="no-js">
%+ app/layouts/head
<body>
  <main class="container left-container">
    <div class="row">
      %+ app/layouts/main_menu_front
      %+ app/layouts/sidebar_front
      <section class="col-md-7 col-sm-12 col-md-offset-5 main-content">
        %+ app/layouts/entities_menu_front
        %= yield
        %+ app/layouts/categories_front
        %+ app/layouts/footer_front
      </section><!-- main content -->
    </div> <!--/row -->
  </main> <!-- /container -->
  %+ app/layouts/scripts_front
</body>
</html>