<div class="home-page-categories hide animated fadeIn ">
  <div class="category row">
    <section>
      <div class="category-preview col-xs-6 col-sm-4 ">
        <h2>Easy Living</h2>
        <a href="category.html"><img src="/img/theme/cover-2.jpg" alt="category-image"></a>
      </div>

      <div class="category-preview col-xs-6 col-sm-4 ">
        <h2>Adventure</h2>
        <a href="category.html"><img src="/img/theme/cover-4.jpg" alt="category-image"></a>
      </div>

      <div class="category-preview col-xs-6 col-sm-4 ">
        <h2>Storytime</h2>
        <a href="category.html"><img src="/img/theme/cover-6.jpg" alt="category-image"></a>
      </div>

      <div class="category-preview col-xs-6 col-sm-4 ">
        <h2>Open Roads</h2>
        <a href="category.html"><img src="/img/theme/cover-9.jpg" alt="category-image"></a>
      </div>

      <div class="category-preview col-xs-6 col-sm-4 ">
        <h2>Gaming</h2>
        <a href="category.html"><img src="/img/theme/cover-1.jpg" alt="category-image" ></a>
      </div>

      <div class="category-preview col-xs-6 col-sm-4 ">
        <h2>City Life</h2>
        <a href="category.html"><img src="/img/theme/cover-3.jpg" alt="category-image"></a>
      </div>

      <div class="category-preview col-xs-6 col-sm-4 ">
        <h2>Rave Culture</h2>
        <a href="category.html"><img src="/img/theme/cover-5.jpg" alt="category-image"></a>
      </div>

      <div class="category-preview col-xs-6 col-sm-4 ">
        <h2>Photography</h2>
        <a href="category.html"><img src="/img/theme/cover-7.jpg" alt="category-image"></a>
      </div>

      <div class="category-preview col-xs-6 col-sm-4 ">
        <h2>Animal Kingdom</h2>
        <a href="category.html"><img src="/img/theme/cover-8.jpg" alt="category-image"></a>
      </div>

      <div class="category-preview col-xs-6 col-sm-4 ">
        <h2>Beach</h2>
        <a href="category.html"><img src="/img/theme/cover-10.jpg" alt="category-image"></a>
      </div>

      <div class="category-preview col-xs-6 col-sm-4 ">
        <h2>Climbing</h2>
        <a href="category.html"><img src="/img/theme/cover-11.jpg" alt="category-image"></a>
      </div>

      <div class="category-preview col-xs-6 col-sm-4 ">
        <h2>Mystery</h2>
        <a href="category.html"><img src="/img/theme/cover-12.jpg" alt="category-image"></a>
      </div>

    </section>
  </div>
</div>