<!DOCTYPE html>
<html class="no-js">
%+ app/layouts/front/head
<body>
<header class="hero-image" role="banner" style="background-image: url(/img//genie_main_logo.png);
                                                background-color: #f0f0f0; border-top: 0.5rem solid #0bb8e3;">
  %+ app/layouts/front/burger_menu
  %+ app/layouts/front/main_menu
</header>
%+ app/resources/home/views/download
<main class="container-fluid">
  <div class="row">
    <div class="col-xs-12 single-content">
      %= yield
    </div>
  </div>
</main>
%+ app/resources/articles/views/post_footer
%+ app/layouts/front/scripts
</body>
</html>