<!doctype html>
<html class="no-js" lang="en">

    <head>
        <meta charset="utf-8">
        <title>Jo - admin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/admin/vendor.css">
        <link rel="stylesheet" id="theme-style" href="css/admin/app.css">
    </head>

    <body>
        <div class="auth">
            <div class="auth-container">
                <div class="card">
                    <div class="auth-content">
                        <p class="text-xs-center">$(message)</p>
                        <form id="login-form" action="/login" method="POST" novalidate="">
                            <div class="form-group">
                                <label for="email">Username</label>
                                <input type="email" class="form-control underlined" name="email" id="username" placeholder="Your email address" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control underlined" name="password" id="password" placeholder="Your password" required>
                            </div>
                            <!--div class="form-group">
                              <label for="remember">
                                <input class="checkbox" id="remember" type="checkbox">
                                <span>Remember me</span>
                              </label>
                            </div-->
                            <div class="form-group">
                              <button type="submit" class="btn btn-block btn-primary">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/admin/vendor.js"></script>
        <script src="js/admin/app.js"></script>
    </body>

</html>