<div id="menu-target">
  <ul>
    <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
    <li><i class="fa fa-user"></i><a href="author.html">John Smith</a></li>
    <li><i class="fa fa-anchor"></i><a href="page.html">About</a></li>
    <li><i class="fa fa-star"></i><a href="favorites.html">Favorites</a></li>
    <li><i class="fa fa-paper-plane"></i><a href="contact.html">Contact</a></li>
  </ul>
  <hr>
  <ul>
    <li><i class="fa fa-file"></i><a href="post.html">Post Page</a></li>
    <li><i class="fa fa-file"></i><a href="post-sidebar.html">Post with Sidebar</a></li>

    <li><i class="fa fa-home"></i><a href="alt-home.html">Alternate Home</a></li>
    <li><i class="fa fa-image"></i><a href="category.html">Category Page</a></li>
  </ul>
</div>