<section class="sidebar col-md-5 col-sm-12" style="background-image: url(/img/theme/default-sidebar.jpg">

  <span class="menu-trigger animated fadeInDown">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </span>

  <!-- if the user has javascript disabled they can still use the menu -->
  <noscript>
    <div class="no-js-menu">
      <ul>
        <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
        <li><i class="fa fa-user"></i><a href="author.html">John Smith</a></li>
        <li><i class="fa fa-anchor"></i><a href="page.html">About</a></li>
        <li><i class="fa fa-star"></i><a href="favorites.html">Favorites</a></li>
        <li><i class="fa fa-paper-plane"></i><a href="contact.html">Contact</a></li>
        <li><i class="fa fa-file"></i><a href="post.html">Post Page</a></li>
        <li><i class="fa fa-file"></i><a href="post-sidebar.html">Post with Sidebar</a></li>
        <li><i class="fa fa-home"></i><a href="alt-home.html">Alternate Home</a></li>
        <li><i class="fa fa-image"></i><a href="category.html">Category Page</a></li>
      </ul>
    </div>
  </noscript>
  <!-- end no script -->

  <div class="site-info">
    <div class="primary-info">
      <h1>Writer</h1>
      <p>A minimal blogging theme to put your content on show. <a href="post.html">Look at the features.</a> </p>

      <p>Content is king</p>
    </div>
    <div class="secondary-info">
      <p>
        <a class="btn btn-primary" href="#"><i class="fa fa-user-plus"></i>Join Our Newsletter</a>
      </p>
    </div>
  </div>
      </section><!-- end sidebar -->