<form action="<$ link_to!!(:update_todo_item, id = Base.get(@vars(:todo).id)) $>" method="POST">
  <% output_flash(@vars(:params)) %>
  <% output_errors(@vars(:todo), :unknown) %>
  <div class="form-group">
    <label for="todo.title">Todo</label>
    <input type="text" class="form-control" id="todo.title" name="todo.title" placeholder="What do you need to do?" value="<$ @vars(:todo).title $>">
    <% output_errors(@vars(:todo), :title) %>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" name="todo.completed" checked="<$ (@vars(:todo).completed) $>" > Completed
    </label>
  </div>
  <br>
  <button type="submit" class="btn btn-default">Save</button>
</form>
