.section-headers {
  
}

.section-headers h4 {
  border-bottom: 1px solid;
  padding-bottom: 12px;
  text-transform: uppercase;
}

.repo-description {
  min-height: 3em;
}

.pkg {
  min-height: 140px;
  padding-right: 18px;
}

span.sparkline {
    display: inline-block;
    width: 100%;
    height: 15px;
    margin: 0 .2em;
    vertical-align: baseline;
}

footer.row {
  border-top: 1px solid;
}