.main-menu {
  margin-top: -0.25em;
}

.navbar-brand {
  background-image: url(../images/pkg_search_logo_40_40.png);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  padding-left: 2em;
}

.jumbotron {
  text-align: center;
}

.jumbotron form {
  margin-top: 3em;
}

.section-headers {
  margin-bottom: 2em;
  overflow: hidden;
}

.section-headers h4 {
  border-bottom: 2px solid;
  padding-bottom: 12px;
  text-transform: uppercase;
}

.section-headers h5 {
  border-bottom: 0px solid #999;
  overflow: hidden;
}

.section-headers h6 {
  font-weight: bold;
  border-bottom: 1px solid #999;
}

.repo-description {
  min-height: 3em;
}

.author-info {
  margin-top: -0.75em;
}

.author-info .btn-link {
  padding-left: 0;
}

  .pkg {
  border-bottom: 1px solid #000;
  padding-right: 18px;
  padding-bottom: 1.5em;
  padding-top: 0.7em;
}

span.sparkline {
    display: inline-block;
    width: 100%;
    height: 15px;
    margin: 0 .2em;
    vertical-align: baseline;
}

footer.row {
  border-top: 1px solid;
}