<html>
  <head>
    <title>Welcome to Jinnie</title>
  </head>
  <body>
    <h1>Jinnie framework</h1>
    <div id="main">
      {{{yield}}}
    </div>
    <footer>
      more cool stuff
    </footer>
  </body>
</html>